<h1>Questions</h1>
<form action="answer" method="psot">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="question" placeholder="Enter a question">
  <input type="submit" value="Ask!">
</form>


